</*SEPARATE ALL HEADINGS*/>

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#content{
  width: 900px;
  margin: 0 auto;
}

#caption{
  font-size: 11px;
}

ul{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

blockquote{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
}
